In [1]:
!pip install GitPython

Requirement already satisfied: GitPython in c:\users\safyc\appdata\roaming\python\python311\site-packages (3.1.37)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\safyc\appdata\roaming\python\python311\site-packages (from GitPython) (4.0.10)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\safyc\appdata\roaming\python\python311\site-packages (from gitdb<5,>=4.0.1->GitPython) (5.0.1)

In [ ]:
import csv
import subprocess
import pandas as pd
import requests
import git
import pandas as pd
import os

In [3]:
# Clone the Github repository
os.system("git clone https://github.com/phonepe/pulse.git")

128

In [4]:
!pip install requests

Requirement already satisfied: requests in c:\users\safyc\appdata\roaming\python\python311\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\safyc\appdata\roaming\python\python311\site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\safyc\appdata\roaming\python\python311\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\safyc\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\safyc\appdata\roaming\python\python311\site-packages (from requests) (2023.7.22)

In [5]:
import os
import json
import pandas as pd
import git

# Define the local directory where you want to clone the GitHub repository
local_repo_dir = r"/path/to/local/directory"  # Replace with your desired local directory

# GitHub repository URL
github_repo_url = "https://github.com/phonepe/pulse.git"

# Clone the GitHub repository to your local directory
if not os.path.exists(local_repo_dir):
    os.makedirs(local_repo_dir)
    repo = git.Repo.clone_from(github_repo_url, local_repo_dir)
else:
    repo = git.Repo(local_repo_dir)

# Now that the repository is cloned locally, you can work with the data
root_dir = os.path.join(local_repo_dir, "data")

# Initialize an empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(os.path.join(root_dir, 'aggregated/transaction/country/india/state')):  
    state_path = os.path.join(root_dir, 'aggregated/transaction/country/india/state', state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files (one for each quarter)
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        with open(os.path.join(year_path, json_file)) as f:
                            data = json.load(f)

                            # Extract the data we're interested in
                            for transaction_data in data['data']['transactionData']:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'Transaction_Type': transaction_data['name'],
                                    'Transaction_Count': transaction_data['paymentInstruments'][0]['count'],
                                    'Transaction_Amount': transaction_data['paymentInstruments'][0]['amount']
                                }
                                data_list.append(row_dict)

# Convert list of dictionaries to a DataFrame
df1 = pd.DataFrame(data_list)
df1.head()

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05

In [6]:
!pip install GitPython

Requirement already satisfied: GitPython in c:\users\safyc\appdata\roaming\python\python311\site-packages (3.1.37)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\safyc\appdata\roaming\python\python311\site-packages (from GitPython) (4.0.10)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\safyc\appdata\roaming\python\python311\site-packages (from gitdb<5,>=4.0.1->GitPython) (5.0.1)

In [7]:
import os
import json
import pandas as pd

# Define the root directory where the state folders are located
root_dir = r'C:\Users\safyc\OneDrive\Documents\GitHub\pulse\data\aggregated\transaction\country\india\state'

data_list = []

# Iterate through the state directories
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)

    if os.path.isdir(state_path):
        # Iterate through the year-wise directories within the state directory
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)

            if os.path.isdir(year_path):
                # Loop through the JSON files in each year's directory
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        json_file_path = os.path.join(year_path, json_file)
                        with open(json_file_path, 'r') as f:
                            json_data = json.load(f)

                            # Extract the data we're interested in
                            for transaction_data in json_data['data']['transactionData']:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'Quarters': int(json_file.split('.')[0]),
                                    'Transaction_Type': transaction_data['name'],
                                    'Transaction_Count': transaction_data['paymentInstruments'][0]['count'],
                                    'Transaction_Amount': transaction_data['paymentInstruments'][0]['amount']
                                }
                                data_list.append(row_dict)

# Create a DataFrame from the collected data
df2 = pd.DataFrame(data_list)
df2.head()

,States,Transaction_Year,Quarters,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05

In [8]:
import os
import json
import pandas as pd
import git

# Define the local directory where you want to clone the GitHub repository
local_repo_dir = r"C:\Users\safyc\OneDrive\Documents\GitHub\pulse"  # Local repository directory

# GitHub repository URL
github_repo_url = "https://github.com/PhonePe/pulse.git"  # GitHub repository URL

# Clone the GitHub repository to your local directory
if not os.path.exists(local_repo_dir):
    os.makedirs(local_repo_dir)
    repo = git.Repo.clone_from(github_repo_url, local_repo_dir)
else:
    repo = git.Repo(local_repo_dir)

# Now that the repository is cloned locally, you can work with the data
root_dir = os.path.join(local_repo_dir, "data", "map", "transaction", "hover", "country", "india", "state")

# Initialize an empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders within each state folder
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files in each year's directory
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        json_file_path = os.path.join(year_path, json_file)
                        with open(json_file_path, 'r') as f:
                            json_data = json.load(f)

                            # Access the 'hoverDataList' key to get the data
                            hover_data_list = json_data['data']['hoverDataList']

                            # Extract the data we're interested in from 'hoverDataList'
                            for hover_data in hover_data_list:
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'District': hover_data['name'],
                                    'Transaction_Type': 'TOTAL',
                                    'Transaction_Count': hover_data['metric'][0]['count'],
                                    'Transaction_Amount': hover_data['metric'][0]['amount']
                                }
                                data_list.append(row_dict)

# Convert the list of dictionaries to a DataFrame
df3 = pd.DataFrame(data_list)
df3

,States,Transaction_Year,District,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,north and middle andaman district,TOTAL,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,south andaman district,TOTAL,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,nicobars district,TOTAL,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,north and middle andaman district,TOTAL,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,south andaman district,TOTAL,9395,2.394824e+07
...,...,...,...,...,...,...
16827,west-bengal,2023,nadia district,TOTAL,30146530,5.787869e+10
16828,west-bengal,2023,birbhum district,TOTAL,17597047,3.090737e+10
16829,west-bengal,2023,purba medinipur district,TOTAL,34244893,6.813718e+10
16830,west-bengal,2023,maldah district,TOTAL,28539407,5.299766e+10
16831,west-bengal,2023,darjiling district,TOTAL,14747572,2.463195e+10

In [9]:
import os
import json
import pandas as pd
import git

# Define the local directory where you want to clone the GitHub repository
local_repo_dir = r"C:\Users\safyc\OneDrive\Documents\GitHub\pulse"  # Local repository directory

# GitHub repository URL
github_repo_url = "https://github.com/PhonePe/pulse.git"  # GitHub repository URL

# Clone the GitHub repository to your local directory
if not os.path.exists(local_repo_dir):
    os.makedirs(local_repo_dir)
    repo = git.Repo.clone_from(github_repo_url, local_repo_dir)
else:
    repo = git.Repo(local_repo_dir)

# Now that the repository is cloned locally, you can work with the data
root_dir = os.path.join(local_repo_dir, "data", "map", "user", "hover", "country", "india", "state")

# Initialize an empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders within each state folder
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files in each year's directory
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        json_file_path = os.path.join(year_path, json_file)
                        with open(json_file_path, 'r') as f:
                            json_data = json.load(f)

                            # Extract the data we're interested in from the JSON structure
                            for district, district_data in json_data['data']['hoverData'].items():
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'District': district,
                                    'RegisteredUsers': district_data['registeredUsers'],
                                    'AppOpens': district_data['appOpens']
                                }
                                data_list.append(row_dict)

# Convert the list of dictionaries to a DataFrame
df4 = pd.DataFrame(data_list)
df4.head()

,States,Transaction_Year,District,RegisteredUsers,AppOpens
0,andaman-&-nicobar-islands,2018,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,south andaman district,8143,0

In [10]:
import os
import json
import pandas as pd
import git

# Define the local directory where you want to clone the GitHub repository
local_repo_dir = r"C:\Users\safyc\OneDrive\Documents\GitHub\pulse"  # Local repository directory

# GitHub repository URL
github_repo_url = "https://github.com/PhonePe/pulse.git"  # GitHub repository URL

# Clone the GitHub repository to your local directory
if not os.path.exists(local_repo_dir):
    os.makedirs(local_repo_dir)
    repo = git.Repo.clone_from(github_repo_url, local_repo_dir)
else:
    repo = git.Repo(local_repo_dir)

# Now that the repository is cloned locally, you can work with the data
root_dir = os.path.join(local_repo_dir, "data", "top", "transaction", "country", "india", "state")

# Initialize an empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders within each state folder
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files in each year's directory
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        json_file_path = os.path.join(year_path, json_file)
                        with open(json_file_path, 'r') as f:
                            json_data = json.load(f)

                            # Extract the data we're interested in from the JSON structure
                            for district_data in json_data['data']['districts']:
                                district = district_data['entityName']
                                metrics = district_data['metric']
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'District': district,
                                    'Transaction_Type': metrics['type'],
                                    'Transaction_Count': metrics['count'],
                                    'Transaction_Amount': metrics['amount']
                                }
                                data_list.append(row_dict)

# Convert the list of dictionaries to a DataFrame
df5 = pd.DataFrame(data_list)
df5.head()

,States,Transaction_Year,District,Transaction_Type,Transaction_Count,Transaction_Amount
0,andaman-&-nicobar-islands,2018,south andaman,TOTAL,5688,1.256025e+07
1,andaman-&-nicobar-islands,2018,nicobars,TOTAL,528,1.139849e+06
2,andaman-&-nicobar-islands,2018,north and middle andaman,TOTAL,442,9.316631e+05
3,andaman-&-nicobar-islands,2018,south andaman,TOTAL,9395,2.394824e+07
4,andaman-&-nicobar-islands,2018,nicobars,TOTAL,1120,3.072437e+06

In [11]:
import os
import json
import pandas as pd
import git

# Define the local directory where you want to clone the GitHub repository
local_repo_dir = r"C:\Users\safyc\OneDrive\Documents\GitHub\pulse"  # Local repository directory

# GitHub repository URL
github_repo_url = "https://github.com/PhonePe/pulse.git"  # GitHub repository URL

# Clone the GitHub repository to your local directory
if not os.path.exists(local_repo_dir):
    os.makedirs(local_repo_dir)
    repo = git.Repo.clone_from(github_repo_url, local_repo_dir)
else:
    repo = git.Repo(local_repo_dir)

# Define the root directory for the data you want to extract
root_dir = os.path.join(local_repo_dir, "data", "top", "user", "country", "india", "state")

# Initialize an empty list to hold dictionaries of data for each JSON file
data_list = []

# Loop over all the state folders
for state_dir in os.listdir(root_dir):
    state_path = os.path.join(root_dir, state_dir)
    if os.path.isdir(state_path):

        # Loop over all the year folders within each state folder
        for year_dir in os.listdir(state_path):
            year_path = os.path.join(state_path, year_dir)
            if os.path.isdir(year_path):

                # Loop over all the JSON files in each year's directory
                for json_file in os.listdir(year_path):
                    if json_file.endswith('.json'):
                        json_file_path = os.path.join(year_path, json_file)
                        with open(json_file_path, 'r') as f:
                            json_data = json.load(f)

                            # Extract the data we're interested in from the JSON structure
                            for district_data in json_data['data']['districts']:
                                district = district_data['name']
                                registered_users = district_data['registeredUsers']
                                row_dict = {
                                    'States': state_dir,
                                    'Transaction_Year': year_dir,
                                    'District': district,
                                    'RegisteredUsers': registered_users
                                }
                                data_list.append(row_dict)

# Convert the list of dictionaries to a DataFrame
df6 = pd.DataFrame(data_list)
df6.head()

,States,Transaction_Year,District,RegisteredUsers
0,andaman-&-nicobar-islands,2018,south andaman,5846
1,andaman-&-nicobar-islands,2018,north and middle andaman,632
2,andaman-&-nicobar-islands,2018,nicobars,262
3,andaman-&-nicobar-islands,2018,south andaman,8143
4,andaman-&-nicobar-islands,2018,north and middle andaman,911

In [12]:
# Drop any duplicates
d1 = df1.drop_duplicates()
d2 = df2.drop_duplicates()
d3 = df3.drop_duplicates()
d4 = df4.drop_duplicates()
d5 = df5.drop_duplicates()
d6 = df6.drop_duplicates()

In [13]:
#checking Null values
null_counts = d1.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [14]:
null_counts = d2.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
Quarters              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [15]:
null_counts = d3.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
District              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [16]:
null_counts = d4.isnull().sum()
print(null_counts)

States              0
Transaction_Year    0
District            0
RegisteredUsers     0
AppOpens            0
dtype: int64

In [17]:
null_counts = d5.isnull().sum()
print(null_counts)

States                0
Transaction_Year      0
District              0
Transaction_Type      0
Transaction_Count     0
Transaction_Amount    0
dtype: int64

In [18]:
null_counts = d6.isnull().sum()
print(null_counts)

States              0
Transaction_Year    0
District            0
RegisteredUsers     0
dtype: int64

In [19]:
#converting all dataframes in to csv
d1.to_csv('agg_trans.csv', index=False)
df2.to_csv('agg_user.csv', index=False)
d3.to_csv('map_tran.csv', index=False)
d4.to_csv('map_user.csv', index=False)
d5.to_csv('top_tran.csv', index=False)
d6.to_csv('top_user.csv', index=False)

In [20]:
Agg_trans = pd.read_csv(r'agg_trans.csv')
Agg_users = pd.read_csv(r'agg_user.csv')
Map_trans = pd.read_csv(r'map_tran.csv')
Map_user = pd.read_csv(r'map_user.csv')
Top_trans = pd.read_csv(r'top_tran.csv')
Top_user = pd.read_csv(r'top_user.csv')

In [22]:
print(Agg_trans)
# print(Agg_users).head()
# print(Map_trans)
# print(Map_user).head()
# print(Top_trans).head()
# print(Top_user).head()

                         States  Transaction_Year  Quarters  \
0     andaman-&-nicobar-islands              2018         1
1     andaman-&-nicobar-islands              2018         1
2     andaman-&-nicobar-islands              2018         1
3     andaman-&-nicobar-islands              2018         1
4     andaman-&-nicobar-islands              2018         1
...                         ...               ...       ...
4129                west-bengal              2023         3
4130                west-bengal              2023         3
4131                west-bengal              2023         3
4132                west-bengal              2023         3
4133                west-bengal              2023         3

              Transaction_Type  Transaction_Count  Transaction_Amount
0     Recharge & bill payments               4200        1.845307e+06
1        Peer-to-peer payments               1871        1.213866e+07
2            Merchant payments                298        4.525072e+05
3           Financial Services                 33        1.060142e+04
4                       Others                256        1.846899e+05
...                        ...                ...                 ...
4129         Merchant payments          296965002        2.004404e+11
4130     Peer-to-peer payments          271150280        8.310501e+11
4131  Recharge & bill payments           63055684        3.920985e+10
4132        Financial Services             389751        4.249856e+08
4133                    Others             532474        4.232851e+08

[4134 rows x 6 columns]

In [23]:
import mysql.connector

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
#   database="joins"

)

print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000210A67ED3D0>

In [25]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\safyc\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\safyc\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# pip install --force-reinstall mysql-connector-python

In [ ]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

# Define your MySQL connection details
db_config = {
    "host": "localhost",
    "user": "root",
    "password": "",  # Enter your MySQL password here
    "database": "phonepe_pulse"  # Your database name
}

# List of CSV files and table names
csv_files = ['agg_trans.csv', 'agg_user.csv', 'map_tran.csv', 'map_user.csv', 'top_tran.csv', 'top_user.csv']
table_names = ['agg_trans', 'agg_user', 'map_tran', 'map_user', 'top_tran', 'top_user']

# Establish a connection to the MySQL database using SQLAlchemy
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_config['database']}")

# Loop through the files and table names
for csv_file, table_name in zip(csv_files, table_names):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(csv_file)

    # Insert the data from the DataFrame into the MySQL table
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

# Close the SQLAlchemy engine
engine.dispose()

In [ ]:
mycursor.execute("SHOW TABLES FROM phonepe_pulse")
for x in mycursor:
    print(x)